* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
html {
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-size: 62.5%;
}
body {
    background-color: #141414;
}
header {
    .header__button {
        display: none;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
            display: inline-flex;
            align-items: center;
            height: 100%;
            float: right;
            button {
                display: block;
                width: 30px;
                height: 30px;
                outline: none;
                background: transparent;
                border: none;
                i {
                    font-size: 30px;
                }
                #open_cancel_menu {
                    display: none;
                }
            }
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 767px){
            display: inline-flex;
            align-items: center;
            height: 100%;
            float: right;
            button {
                display: block;
                width: 30px;
                height: 30px;
                outline: none;
                background: transparent;
                border: none;
                i {
                    font-size: 30px;
                }
                #open_cancel_menu {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (min-width : 1225px){
    body {
        header {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100vw;
            top: 0;
            padding: 15px;
            z-index: 1;
            background-color: #3D454E;
            .links__list {
                display: inline-flex;
                flex-direction: row;
                column-gap: 15px;
                list-style: none;
                li {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 15px;
                    a {
                        text-decoration: none;
                    }
                }
                .menu__item:hover{
                    background-color: #10B5BF;
                    transition: all ease .8s;
                }
            }
        }
        main {
            margin-top: 80px;
            .main__description {
                display: flex;
                align-items: flex-start;
                padding: 50px;
                picture {
                    display: inline-block;
                    width: 45%;
                    height: 500px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    display: inline-block;
                    width: 50%;
                    margin-left: 50px;
                    h1 {
                        font-size: 45px;
                        line-height: 48px;
                        margin-bottom: 30px;
                    }
                    h2 {
                        font-size: 24px;
                        line-height: 40px;
                        margin-bottom: 20px;
                    }
                    p,
                    ul,
                    li {
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 16px;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            font-weight: bold;
                            margin-left: 15px;
                        }
                    }
                    .list {
                        li {
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1025px) and (max-width : 1224px){
    body {
        header {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100vw;
            top: 0;
            padding: 15px;
            z-index: 1;
            background-color: #3D454E;
            .links__list {
                display: inline-flex;
                flex-direction: row;
                column-gap: 15px;
                list-style: none;
                li {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 15px;
                    a {
                        text-decoration: none;
                    }
                }
                .menu__item:hover{
                    background-color: #10B5BF;
                    transition: all ease .8s;
                }
            }
        }
        main {
            margin-top: 80px;
            .main__description {
                display: flex;
                align-items: flex-start;
                padding: 50px;
                picture {
                    display: inline-block;
                    width: 45%;
                    height: 500px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    display: inline-block;
                    width: 50%;
                    margin-left: 50px;
                    h1 {
                        font-size: 45px;
                        line-height: 48px;
                        margin-bottom: 30px;
                    }
                    h2 {
                        font-size: 24px;
                        line-height: 40px;
                        margin-bottom: 20px;
                    }
                    p,
                    ul,
                    li {
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 16px;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            font-weight: bold;
                            margin-left: 15px;
                        }
                    }
                    .list {
                        li {
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    body {
        header {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100vw;
            top: 0;
            padding: 15px;
            z-index: 1;
            background-color: #3D454E;
            .links__list {
                display: inline-flex;
                flex-direction: row;
                column-gap: 15px;
                list-style: none;
                li {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 15px;
                    a {
                        text-decoration: none;
                    }
                }
                .menu__item:hover{
                    background-color: #10B5BF;
                    transition: all ease .8s;
                }
            }
        }
        main {
            margin-top: 80px;
            .main__description {
                display: flex;
                align-items: flex-start;
                padding: 50px;
                picture {
                    display: inline-block;
                    width: 45%;
                    height: 500px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    display: inline-block;
                    width: 50%;
                    margin-left: 50px;
                    h1 {
                        font-size: 45px;
                        line-height: 48px;
                        margin-bottom: 30px;
                    }
                    h2 {
                        font-size: 24px;
                        line-height: 40px;
                        margin-bottom: 20px;
                    }
                    p,
                    ul,
                    li {
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 16px;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            font-weight: bold;
                            margin-left: 15px;
                        }
                    }
                    .list {
                        li {
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body {
        header {
            display: block;
            position: fixed;
            width: 100vw;
            top: 0;
            z-index: 1;
            height: 80px;
            padding-right: 15px;
            background-color: #141414;
            .header__menu {
                display: flex;
                align-items: center;
                position: absolute;
                right: 0;
                width: 100%;
                height: 100vh;
                padding-top: 30px;
                margin-top: 80px;
                flex-direction: column;
                transition: all 1s ease;
                background: #3D454E;
                background: -webkit-linear-gradient(to right, #6F7B89, #3D454E);
                background: linear-gradient(to right, #6F7B89, #3D454E);
                .links__list {
                    display: block;
                    list-style: none;
                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-bottom: 30px;
                        a {
                            display: inline;
                            font-size: 20px;
                            color: #fff;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                    .items__item:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .one {
                -webkit-clip-path: circle(0% at 100% 0%);
                clip-path: circle(0% at 100% 0%);
            }
            .two {
                -webkit-clip-path: circle(150% at 100% 0%);
                clip-path: circle(150% at 100% 0%);
            }
        }
        main {
            margin-top: 80px;
            .main__description {
                display: block;
                padding: 15px;
                picture {
                    display: block;
                    width: 80%;
                    height: 300px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    display: block;
                    width: 80%;
                    margin-left: 50px;
                    margin: 0 auto;
                    h1 {
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                    h2 {
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                    p,
                    ul,
                    li {
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 16px;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            font-weight: bold;
                            margin-left: 15px;
                        }
                    }
                    .list {
                        li {
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px){
    body {
        header {
            display: block;
            position: fixed;
            width: 100vw;
            top: 0;
            z-index: 1;
            height: 80px;
            padding-right: 15px;
            background-color: #141414;
            .header__menu {
                display: flex;
                align-items: center;
                position: absolute;
                right: 0;
                width: 100%;
                height: 100vh;
                padding-top: 30px;
                margin-top: 80px;
                flex-direction: column;
                transition: all 1s ease;
                background: #3D454E;
                background: -webkit-linear-gradient(to right, #6F7B89, #3D454E);
                background: linear-gradient(to right, #6F7B89, #3D454E);
                .links__list {
                    display: block;
                    list-style: none;
                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-bottom: 30px;
                        a {
                            display: inline;
                            font-size: 20px;
                            color: #fff;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                    .items__item:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .one {
                -webkit-clip-path: circle(0% at 100% 0%);
                clip-path: circle(0% at 100% 0%);
            }
            .two {
                -webkit-clip-path: circle(150% at 100% 0%);
                clip-path: circle(150% at 100% 0%);
            }
        }
        main {
            margin-top: 80px;
            .main__description {
                display: block;
                padding: 15px;
                picture {
                    display: block;
                    width: 80%;
                    height: 300px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    display: block;
                    width: 80%;
                    margin-left: 50px;
                    margin: 0 auto;
                    h1 {
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                    h2 {
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                    p,
                    ul,
                    li {
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 16px;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            font-weight: bold;
                            margin-left: 15px;
                        }
                    }
                    .list {
                        li {
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}