@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #141414;
}

header .header__button {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header .header__button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float: right;
  }
  header .header__button button {
    display: block;
    width: 30px;
    height: 30px;
    outline: none;
    background: transparent;
    border: none;
  }
  header .header__button button i {
    font-size: 30px;
  }
  header .header__button button #open_cancel_menu {
    display: none;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  header .header__button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float: right;
  }
  header .header__button button {
    display: block;
    width: 30px;
    height: 30px;
    outline: none;
    background: transparent;
    border: none;
  }
  header .header__button button i {
    font-size: 30px;
  }
  header .header__button button #open_cancel_menu {
    display: none;
  }
}

@media only screen and (min-width: 1225px) {
  body header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 15px;
    z-index: 1;
    background-color: #3D454E;
  }
  body header .links__list {
    display: inline-flex;
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
    list-style: none;
  }
  body header .links__list li {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
  }
  body header .links__list li a {
    text-decoration: none;
  }
  body header .links__list .menu__item:hover {
    background-color: #10B5BF;
    transition: all ease 0.8s;
  }
  body main {
    margin-top: 140px;
  }
  body main .timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }
  body main .timeline > div {
    display: inline-block;
  }
  body main .timeline > div picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  body main .timeline > div picture img {
    display: block;
    width: 60%;
    height: 100%;
  }
  body main .timeline > div div {
    display: inline-block;
    width: 200px;
  }
  body main .timeline > div div .line {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-animation: expand 2s;
            animation: expand 2s;
  }
  body main .timeline > div div .title {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  body main .timeline > div div .text {
    font-size: 16px;
  }
  body main .timeline > div .center {
    margin: 0 15px;
  }
  body main .timeline > div .last .text {
    float: right;
  }
  body main .main__periods {
    display: flex;
    justify-content: center;
  }
  body main .main__periods > div {
    display: inline-flex;
    align-items: flex-start;
  }
  body main .main__periods .card {
    position: relative;
    width: 220px;
    height: 320px;
    margin: 0 30px;
    background: #3D454E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  body main .main__periods .card::before,
body main .main__periods .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #6F7B89;
    transition: all 0.5s;
  }
  body main .main__periods .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  body main .main__periods .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  body main .main__periods .card:hover::before,
body main .main__periods .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  body main .main__periods .card:nth-child(1):hover:after {

    content: "4500a.C.-3000 a.C.";
  }
  body main .main__periods .card:nth-child(2):hover:after {

    content: "3000.C.-1200a.C.";
  }
  body main .main__periods .card:nth-child(3):hover:after {

    content: "1200a.C.-500a.C.";
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1224px) {
  body header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 15px;
    z-index: 1;
    background-color: #3D454E;
  }
  body header .links__list {
    display: inline-flex;
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
    list-style: none;
  }
  body header .links__list li {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
  }
  body header .links__list li a {
    text-decoration: none;
  }
  body header .links__list .menu__item:hover {
    background-color: #10B5BF;
    transition: all ease 0.8s;
  }
  body main {
    margin-top: 140px;
  }
  body main .timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }
  body main .timeline > div {
    display: inline-block;
  }
  body main .timeline > div picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  body main .timeline > div picture img {
    display: block;
    width: 60%;
    height: 100%;
  }
  body main .timeline > div div {
    display: inline-block;
    width: 200px;
  }
  body main .timeline > div div .line {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-animation: expand 2s;
            animation: expand 2s;
  }
  body main .timeline > div div .title {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  body main .timeline > div div .text {
    font-size: 16px;
  }
  body main .timeline > div .center {
    margin: 0 15px;
  }
  body main .timeline > div .last .text {
    float: right;
  }
  body main .main__periods {
    display: flex;
    justify-content: center;
  }
  body main .main__periods > div {
    display: inline-flex;
    align-items: flex-start;
  }
  body main .main__periods .card {
    position: relative;
    width: 220px;
    height: 320px;
    margin: 0 30px;
    background: #3D454E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  body main .main__periods .card::before,
body main .main__periods .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #6F7B89;
    transition: all 0.5s;
  }
  body main .main__periods .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  body main .main__periods .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  body main .main__periods .card:hover::before,
body main .main__periods .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  body main .main__periods .card:nth-child(1):hover:after {

    content: "4500a.C.-3000 a.C.";
  }
  body main .main__periods .card:nth-child(2):hover:after {

    content: "3000.C.-1200a.C.";
  }
  body main .main__periods .card:nth-child(3):hover:after {

    content: "1200a.C.-500a.C.";
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 15px;
    z-index: 1;
    background-color: #3D454E;
  }
  body header .links__list {
    display: inline-flex;
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
    list-style: none;
  }
  body header .links__list li {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
  }
  body header .links__list li a {
    text-decoration: none;
  }
  body header .links__list .menu__item:hover {
    background-color: #10B5BF;
    transition: all ease 0.8s;
  }
  body main {
    margin-top: 140px;
  }
  body main .timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }
  body main .timeline > div {
    display: inline-block;
  }
  body main .timeline > div picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  body main .timeline > div picture img {
    display: block;
    width: 60%;
    height: 100%;
  }
  body main .timeline > div div {
    display: inline-block;
    width: 200px;
  }
  body main .timeline > div div .line {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-animation: expand 2s;
            animation: expand 2s;
  }
  body main .timeline > div div .title {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  body main .timeline > div div .text {
    font-size: 16px;
  }
  body main .timeline > div .center {
    margin: 0 15px;
  }
  body main .timeline > div .last .text {
    float: right;
  }
  body main .main__periods {
    display: flex;
    justify-content: center;
  }
  body main .main__periods > div {
    display: inline-flex;
    align-items: flex-start;
  }
  body main .main__periods .card {
    position: relative;
    width: 220px;
    height: 320px;
    margin: 0 30px;
    background: #3D454E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  body main .main__periods .card::before,
body main .main__periods .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #6F7B89;
    transition: all 0.5s;
  }
  body main .main__periods .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  body main .main__periods .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  body main .main__periods .card:hover::before,
body main .main__periods .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  body main .main__periods .card:nth-child(1):hover:after {

    content: "4500a.C.-3000 a.C.";
  }
  body main .main__periods .card:nth-child(2):hover:after {

    content: "3000.C.-1200a.C.";
  }
  body main .main__periods .card:nth-child(3):hover:after {

    content: "1200a.C.-500a.C.";
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body header {
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    height: 80px;
    padding-right: 15px;
    background-color: #141414;
  }
  body header .header__menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    margin-top: 80px;
    flex-direction: column;
    transition: all 1s ease;
    background: #3D454E;
    background: linear-gradient(to right, #6F7B89, #3D454E);
  }
  body header .header__menu .links__list {
    display: block;
    list-style: none;
  }
  body header .header__menu .links__list li {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  body header .header__menu .links__list li a {
    display: inline;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  body header .header__menu .links__list .items__item:last-child {
    margin-bottom: 0;
  }
  body header .one {
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);
  }
  body header .two {
    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%);
  }
  body main {
    margin-top: 80px;
  }
  body main .timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px;
    margin-bottom: 30px;
  }
  body main .timeline > div {
    display: inline-block;
  }
  body main .timeline > div picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  body main .timeline > div picture img {
    display: block;
    width: 60%;
    height: 100%;
  }
  body main .timeline > div div {
    display: inline-block;
    width: 100px;
    height: 50px;
  }
  body main .timeline > div div .line {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-animation: expand 2s;
            animation: expand 2s;
  }
  body main .timeline > div div .title {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  body main .timeline > div div .text {
    font-size: 16px;
  }
  body main .timeline > div .center {
    height: 90px;
    margin: 0 15px;
  }
  body main .timeline > div .last .text {
    float: right;
  }
  body main .main__periods {
    display: flex;
    justify-content: center;
  }
  body main .main__periods > div {
    display: inline-block;
    width: 280px;
  }
  body main .main__periods .card {
    position: relative;
    width: 220px;
    height: 320px;
    margin: 30px;
    background: #3D454E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  body main .main__periods .card::before,
body main .main__periods .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #6F7B89;
    transition: all 0.5s;
  }
  body main .main__periods .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  body main .main__periods .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  body main .main__periods .card:hover::before,
body main .main__periods .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  body main .main__periods .card:nth-child(1):hover:after {

    content: "4500a.C.-3000 a.C.";
  }
  body main .main__periods .card:nth-child(2):hover:after {

    content: "3000.C.-1200a.C.";
  }
  body main .main__periods .card:nth-child(3):hover:after {

    content: "1200a.C.-500a.C.";
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  body header {
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    height: 80px;
    padding-right: 15px;
    background-color: #141414;
  }
  body header .header__menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    margin-top: 80px;
    flex-direction: column;
    transition: all 1s ease;
    background: #3D454E;
    background: linear-gradient(to right, #6F7B89, #3D454E);
  }
  body header .header__menu .links__list {
    display: block;
    list-style: none;
  }
  body header .header__menu .links__list li {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  body header .header__menu .links__list li a {
    display: inline;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  body header .header__menu .links__list .items__item:last-child {
    margin-bottom: 0;
  }
  body header .one {
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);
  }
  body header .two {
    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%);
  }
  body main {
    margin-top: 80px;
  }
  body main .timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px;
    margin-bottom: 30px;
  }
  body main .timeline > div {
    display: inline-block;
  }
  body main .timeline > div picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  body main .timeline > div picture img {
    display: block;
    width: 60%;
    height: 100%;
  }
  body main .timeline > div div {
    display: inline-block;
    width: 100px;
    height: 50px;
  }
  body main .timeline > div div .line {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-animation: expand 2s;
            animation: expand 2s;
  }
  body main .timeline > div div .title {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  body main .timeline > div div .text {
    font-size: 16px;
  }
  body main .timeline > div .center {
    height: 90px;
    margin: 0 15px;
  }
  body main .timeline > div .last .text {
    float: right;
  }
  body main .main__periods {
    display: flex;
    justify-content: center;
  }
  body main .main__periods > div {
    display: inline-block;
  }
  body main .main__periods .card {
    position: relative;
    width: 220px;
    height: 320px;
    margin: 30px;
    background: #3D454E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  body main .main__periods .card::before,
body main .main__periods .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #6F7B89;
    transition: all 0.5s;
  }
  body main .main__periods .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  body main .main__periods .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  body main .main__periods .card:hover::before,
body main .main__periods .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  body main .main__periods .card:nth-child(1):hover:after {

    content: "4500a.C.-3000 a.C.";
  }
  body main .main__periods .card:nth-child(2):hover:after {

    content: "3000.C.-1200a.C.";
  }
  body main .main__periods .card:nth-child(3):hover:after {
    content: "1200a.C.-500a.C.";
  }
}
@-webkit-keyframes expand {
  from {
    width: 0;
  }
}
@keyframes expand {
  from {
    width: 0;
  }
}/*# sourceMappingURL=periods.css.map */
